<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiangzhen.dao.PersonalLeaveDao">
    <resultMap type="com.jiangzhen.po.PersonalLeavePo" id="leaveMap">
        <result column="id" property="id"/>
        <result column="personal_id" property="personalId"/>
        <result column="personal_name" property="personalName"/>
        <result column="department_name" property="departmentName"/>
        <result column="position_name" property="positionName"/>
        <result column="reason" property="reason"/>
        <result column="leave_time" property="leaveTime"/>
        <result column="expiration_date" property="expirationDate"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="selectByCondition" resultMap="leaveMap">
        select a.*,
             a.personal_id as personalId,
             a.personal_name as personalName,
             a.department_name as departmentName,
             a.position_name as positionName,
             a.reason as reason,
             a.leave_time as leaveTime,
             a.expiration_date as expirationDate,
             a.status as status
        from personal_leave a
        left join personal p on a.personal_id = p.id
        left join department d on a.department_name = d.department_name
        left join position ps on a.position_name = ps.position_name
        <where>
            <if test="departmentName!=null and departmentName != '' ">
                and a.department_name like "%"#{departmentName}"%"
            </if>
            <if test="personalId!=0">
                and a.personal_id = #{personalId}
            </if>
            <if test="year!=0 and month!=0">
                and year(leave_time)=#{year} and month(leave_time)=#{month}
            </if>
        </where>
    </select>

    <select id="selectAll" resultMap="leaveMap">
        select a.*,
             a.personal_id as personalId,
             a.personal_name as personalName,
             a.department_name as departmentName,
             a.position_name as positionName,
             a.reason as reason,
             a.leave_time as leaveTime,
             a.expiration_date as expirationDate,
             a.status as status
        from personal_leave a
        left join personal p on a.personal_id = p.id
        left join department d on a.department_name = d.department_name
        left join position ps on a.position_name = ps.position_name
    </select>

    <select id="selectById" resultMap="leaveMap">
        select a.*,
             a.personal_id as personalId,
             a.personal_name as personalName,
             a.department_name as departmentName,
             a.position_name as positionName,
             a.reason as reason,
             a.leave_time as leaveTime,
             a.expiration_date as expirationDate,
             a.status as status
        from personal_leave a
        left join personal p on a.personal_id = p.id
        left join department d on a.department_name = d.department_name
        left join position ps on a.position_name = ps.position_name
        where a.id = #{id}
    </select>

    <insert id="save" keyProperty="id" useGeneratedKeys="true" parameterType="com.jiangzhen.po.PersonalLeavePo">
        insert into personal_leave(personal_id, personal_name, department_name, position_name,reason,leave_time,expiration_date,status)
                    values(#{personalId}, #{personalName}, #{departmentName}, #{positionName}, #{reason}, #{leaveTime}, #{expirationDate}, #{status})
    </insert>

    <update id="update" parameterType="com.jiangzhen.po.PersonalLeavePo">
        update personal_leave
        <set>
            <if test="personalId != 0">
                personal_id = #{personalId},
            </if>
            <if test="personalName != null">
                personal_name = #{personalName},
            </if>
            <if test="departmentName != null">
                department_name = #{departmentName},
            </if>
            <if test="positionName != null">
                position_name = #{positionName},
            </if>
            <if test="reason != null">
                reason = #{reason},
            </if>
            <if test="leaveTime != null">
                leave_time = #{leaveTime},
            </if>
            <if test="expirationDate != null">
                expiration_date = #{expirationDate},
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>